:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  background-color: #aeff00;
  padding: 10px;
  box-shadow: var(--darkShadow);
  height: 5rem;
}

.navbar-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.5rem;
}

.nav-links li {
  list-style: none;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5rem;
}

.nav-links a {
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: 700;
}

/* GENERAL SECTION */

.section {
  margin-top: 2rem;
  text-align: center;
  max-width: 1170px;
}

.title {
  margin-bottom: 0.5rem;
}

/* LOADING ANIMATION */

.loading {
  margin: -30px 10px 0px 0px;
  font-size: 3rem;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #222;
  opacity: 1;
  animation: bouncing-loader 1s infinite normal;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.05;
    transform: translateX(12px);
  }
}

.bouncing-loader > div:nth-child(1) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.3s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.6s;
}

/* SINGLE CARACTER CARDS */

.card {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 350px;
  width: 700px;
}

.product-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}

.card .product-details h1 {
  font-family: 'Bebas Neue', cursive;
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #344055;
  margin: 0;
}

.alive,
.dead {
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.alive::before {
  content: '';
  display: inline-block;
  background: greenyellow;
  border-radius: 50%;
  font-size: 20px;
  padding: 6px;
  margin-right: 8px;
  z-index: 999;
}

.dead::before {
  content: '';
  display: inline-block;
  background: red;
  border-radius: 50%;
  font-size: 20px;
  padding: 6px;
  margin-right: 8px;
  z-index: 999;
}

.control {
  position: absolute;
  bottom: 20%;
  left: 22.8%;
}
.btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #809fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;
}

.btn:hover {
  transform: translateY(-6px);
  background: #1a66ff;
}

.btn span {
  font-family: 'Farsan', cursive;
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0;
}
.btn .price,
.shopping-cart {
  background: #333;
  border: 0;
  margin: 0;
}

.btn .price {
  transform: translateX(-10%);
  padding-right: 15px;
}

.btn .shopping-cart {
  transform: translateX(-100%);
  position: absolute;
  background: #333;
  z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {
  z-index: 3;
  font-weight: bolder;
}

.btn:hover .price {
  transform: translateX(-110%);
}

.btn:hover .shopping-cart {
  transform: translateX(0%);
}

.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 45%;
  display: inline-block;
}

.card img {
  width: 100%;
  height: 100%;
}

.info {
  background: rgba(27, 26, 26, 0.9);
  font-family: 'Bree Serif', serif;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.8;
  text-align: left;
  font-size: 105%;
  cursor: no-drop;
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.info h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.product-image:hover .info {
  transform: translateX(0);
}

.info ul li {
  transition: 0.3s ease;
  list-style: none;
  margin-left: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.info ul li:hover {
  transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
  transition: all 0.3s ease-out;
}
.product-image:hover img {
  transform: scale(1.2, 1.2);
}

.info li::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url('./images/img1.png');
  z-index: 999;
  border-radius: 50%;
  background-size: contain;
  margin-right: 10px;
  margin-top: 5px;
}

/* HOME CARDS */

.home-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1200px;
  text-align: center;
  justify-content: center;
  margin: 5rem auto;
}

.home-card-container {
  border: 2px solid black;
  box-shadow: var(--lightShadow);
  border-radius: 5px;
}
.home-card-container li {
  list-style-type: none;
}
